.es-btn-size {
    height: 10rem;
    width: 20rem;
    border-radius: 0rem;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: large;
    font-family: sans-serif;
    border-color: white;
    color: black;
}



.es-center-row {
    padding-top: 10rem;
}


.flt-right{
    float: right;
}