.es-btn-size {
  
    font-size: large;
    font-family: sans-serif;
    height: 11rem;
    width: 25rem;
    border-radius: 0rem;
    background-color: #e9ecef85;
    margin-top: 2rem;
    border-color: white;
    color: black;
    margin-left: 1rem;
}



.es-center-row {
    padding-top: 10rem;
}


.flt-right{
    float: right;
}


.es-btn-settings{
    background: none;
    border: none;
}


.btn-primary:hover {
    color: #fff;
    background-color: #bfc6ce;
     border-color: #bfc6ce; 
}