
.es-row {
    background-color: white;
    min-height: 87vh;
}


.es-background{
    background-color: #f3f3f3;
    margin-left: 27rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-right: 30rem;
    border-radius: 10px;;
}